test/
2d-gaussian-splatting/
ABATCH/
pytorch3d_render_colmap/
Grounded-SAM-2/
lang-segment-anything/
thirdparty/
*.pt
pytorch3d-0.7.8.tar.gz
pytorch3d-0.7.8/
__pycache__/
outputs/
output_*
outputs_*
result_cylinder_1.npz
cylinder_poses_kabsch_trackscaled_1.0.npz
*.pth
foundationpose/assets/
foundationpose/mycpp